.full-width {
	width: 100% !important;
}


md-card {
	margin: 5px;
}

.light {
	color: white;
}

.drive {
	color: white;
	background-color: #3F51B5;
}

.cover-img {
	height: 250px;
	object-fit: cover;
}