body { 
  font-family: 'Roboto', sans-serif;
  background-color: #fafafa;
}

button {
  text-transform: uppercase;
}

.container {
  display: flex; /* or inline-flex */	
}

.subtext {
	font-size: 80% !important;
}

.middle {
  flex-grow: 4;
}

.item {
}

.header {
  flex-basis: 120px;
  padding-left: 4px;
}
.header-img {
  background-color: grey;
  height: 40px;
  width: 40px;
}

.primary-bold {
  font-weight: bold;
  color: 3F51B5;
}

.accent-bold {
  font-weight: bold;
  color: FF6D00;
}
.md-list-item {
  margin-bottom: 8px;
}