body { 
  font-family: 'Roboto', sans-serif;
  background-color: #fafafa;
}

button {
  text-transform: uppercase;
}

.container {
	background: grey;
  	display: flex; /* or inline-flex */	
  	justify-content: space-between;
}

.left {
	flex-grow: 4;
}
.right {
	flex-grow: 1;
}
.subtext {
	font-size: 80%;
}

.middle {
	padding-left: 24px	;
	flex-grow: 1;
}