{{departure}}
<div class="ui-grid">
	<div class="ui-grid-row">
		
		<div class="ui-grid-col-6 container">
			<i class="material-icons">home</i>
			<input id="departure-input" #el (change)="changeDeparture(el.value)" class="controls" type="text" placeholder="Enter a location">
		</div>
		<div class="ui-grid-col-6 container">
			<i class="material-icons">place</i>
			<input id="arrival-input" #el (change)="changeArrival(el.value)" class="controls" type="text" placeholder="Enter a location">
		</div>
	</div>
</div>