<div class="ui-grid">
	<div class="ui-grid-row">
		
		<div class="ui-grid-col-3"></div>
		<div class="ui-grid-col-6">
			<div style="margin: 15 35 15 35" class="">

				<md-card>
				<form (ngSubmit)="onSubmit()">
					
					<md-card-title>Connexion</md-card-title>
					<div class="container" style="flex-direction: column;align-items: stretch;">
						<img md-card-avatar src="img/logo.png" style="height: 120; width: 120; margin: auto">
						<md-input type="email" required [(ngModel)]="email" placeholder="Adresse mail" ></md-input>
						<md-input required [(ngModel)]="password" type="password" placeholder="Mot de passe"></md-input>
						<md-checkbox>Se souvenir de moi</md-checkbox>
						<div class="flex-end" style="margin-top: 25">
							<a [routerLink]="['Signup']">Pas encore inscrit ? Inscrivez-vous.</a>
						</div>

						<div class="container" style="justify-content: space-between; margin-top: 15">

						<span *ngIf="_invalidLogin" class="primary-bold">Identifiant inexistant ou mot de passe incorrect</span>
							<span></span>
							<button type="submit" style="margin-left: 5" md-raised-button color="primary">connexion</button>

						</div>
					</div>
				</form>
			</md-card>

		</div>
	</div>
	<div class="ui-grid-col-3"></div>
</div>
</div>