<div class="ui-grid">
	<div class="ui-grid-row">
		
		<div class="ui-grid-col-4">
			<md-card style="margin: 15">
			<md-card-title>Vladimir Putin</md-card-title>
			<img src="img/putin.png" height="100" width="100">

			<md-card-content>
			<p>Age : 65 ans</p>
			<p>Évaluation moyenne : 1<i class="material-icons subtext">star</i></p>
			<h3>Sur moi : </h3>
			<p>	Путин, это "Солнце мира",
				Встал над Русью из сортира.
				Вот уже который год
				Над Страной - Говно встает.
			</p>
		</md-card-content>



		<md-card-title>Voiture</md-card-title>
		<md-card-content>
		<h3>ZiL Presidential Limo 
			<i class="material-icons subtext">star</i>
			<i class="material-icons subtext">star</i>
			<i class="material-icons subtext">star</i>
			<i class="material-icons subtext">star</i>
			<i class="material-icons subtext">star</i>
		</h3>
		<img src="img/zil.png" height="100" width="100">
	</md-card-content>

</md-card>
</div>
<div class="ui-grid-col-8">
	<md-card style="margin: 15">
	<md-card-title>Avis des autres utilisateurs vous concernant</md-card-title>
	<md-list>
	<md-list-item *ngFor="#review of listReview, #i=index">  
	<img md-list-avatar src="img/pp.png" alt="...">

	<span md-line style="font-weight: bold;" md-line> {{review.author.name}} 
		<span *ngFor="#star of getRating(i)"><i class="material-icons subtext">star</i></span>
	</span>
	<span md-line style = "font-style: italic;"> {{review.text}} </span>	
</md-list-item>
</md-list>
</md-card>	   
</div>
</div>
</div>
