<div class="ui-grid">
	<div class="ui-grid-row">
		<div class="ui-grid-col-6">
			<md-card style="padding: 0;margin:15px">
				<md-nav-list>
					<a md-list-item *ngFor="#ride of rides, #i=index"  (click)="showDetails(i)">
						<span md-line>
							<span class="accent-bold">{{ride.departure.name}} - {{ride.arrival.name}}</span>
							<span> • {{getDate(ride.date) | date:"dd/MM hh:mm"}}</span>
						</span>
						<span md-line>
							<span *ngFor="#passenger of ride.passengers, #j=index">
								<span *ngIf="j!=0">• </span>
								{{passenger.name}}
							</span>
							<span> ({{ride.seatsAvi}} places restantes)</span>
						</span>
						<span md-line>{{ride.frequency}} • détour autorisé : {{ride.detour}} km</span>
						<span class="primary-bold">{{ride.seats-ride.seatsAvi}}/{{ride.seats}}</span>
					</a>
				</md-nav-list>
			</md-card>
		</div>
		<md-card style="padding: 0;margin: 15;" *ngIf="_showDetails">
			<div class="ui-grid-col-6" >
				<map-directions width="550" height="550" [to]="_arrival" [from]="_departure" [waypoints]="_waypoints"></map-directions>
			</div>
		</md-card>
	</div>
</div>
