<md-card style="margin: 15px">
	<md-card-title>Résultats pour le trajet {{departure | uppercase}} - {{arrival | uppercase}}</md-card-title>
	Trier par...
	<md-radio-group>
	  <md-radio-button value="duration" (change)="onChangeSort($event)">Durée du trajet</md-radio-button>
	  <md-radio-button value="rating" (change)="onChangeSort($event)" >Note</md-radio-button>
	  <md-radio-button value="seats" (change)="onChangeSort($event)">Nombre de places</md-radio-button>
	</md-radio-group>
	<md-nav-list>
		<h3 md-subheader>{{offers?.length}} offres de covoiturage</h3>
	   	<a (click)="showDialog(i)" md-list-item *ngFor="#offer of offers, #i=index">  
	   	<img md-list-avatar src="img/pp.png" alt="...">

	   	<div class="container" style="width: 100%;">
	   		<div class="header item">
	   		
	   			<span>{{offer.driverName}}</span>
	   			<br/>
	   			<div>
		   			<span class="subtext">{{offer.driverAge}} ans</span>
		   			<br/>
		   			<span>{{offer.driverRating}}<i class="material-icons subtext">star</i></span>
	   			</div>
	   		</div>
	   		<div class="middle item">
	   			<strong>{{getDate(offer.ride.date) | date:"dd/MM hh:mm"}}</strong>
	   			<br/>
	   			<span class="primary-bold">{{offer.ride.duration}} min</span>
	   			<br/>
	   			<span class="subtext">Véhicule : <span class="primary-bold">{{offer.driverCar}}</span></span>
	   		</div>
	   		<div class="right item">
	   			<span class="accent-bold">{{offer.ride.seatsAvi}} places</span>
	   		</div>
	   	</div>		
	   </a>

	</md-nav-list>
</md-card>

<p-dialog style="border: 0" *ngIf="_selectedOffer" header="Confirmer le trajet" [(visible)]="_dialog" class="container">
  <span class="accent-bold">{{_selectedOffer.ride.departure.name}} - {{_selectedOffer.ride.arrival.name}}</span>
  <br>
  <span>{{getDate(_selectedOffer.ride.date) | date:"dd/MM hh:mm"}} ({{_selectedOffer.ride.duration}} min)</span>
  	<div class="flex-end" style="margin-top: 25px">
  		<button (click)="_dialog=false" style="font-weight: bold" md-button>Annuler</button>
    	<button (click)="_dialog=false" style="font-weight: bold" md-button>Confirmer</button>
    </div>
      
</p-dialog>