<div class="ui-grid">
    <div class="ui-grid-row">
        <div class="ui-grid-col-3"></div>
        	<div class="ui-grid-col-6">

        	<md-card>
				<md-card-title>Coordonnées</md-card-title>
				
   				<md-input (keyup)="filterDepartures(departure)" placeholder="Départ" class="full-width" [(ngModel)]="departure">
        			<span md-prefix><i class="material-icons app-input-icon">home</i></span>
				</md-input>
			
				<div class="autocomplete" *ngFor="#place of filteredDepartures">{{place.name}}</div>
				    
				<md-input (keyup)="filterArrivals(arrival)" placeholder="Arrivée" class="full-width" [(ngModel)]="arrival">
	        		<span md-prefix><i class="material-icons app-input-icon">place</i></span>
				</md-input>

				<ul>
					<li *ngFor="#place of filteredArrivals">{{place.name}}</li>
				</ul>
	
			</md-card>

			<md-card>
				<md-card-title>Fréquence</md-card-title>
				<md-radio-group>
	 				 <md-radio-button value="option_1">Je fais ce trajet une fois(aller ou aller-retour)</md-radio-button>
	  				<md-radio-button value="option_2">C'est un trajet régulier</md-radio-button>
				</md-radio-group>
			</md-card>

			<md-card>
				<md-card-title>Date et horaire</md-card-title>
					    <md-checkbox (change)="todo.completed = $event">
      				Aller-Retour
    					</md-checkbox>
					<div class="ui-grid">
						   <div class="ui-grid-row">
						   		<div class="ui-grid-col-6">
		            <h3>Aller</h3>
		            <p-calendar [(ngModel)]="date11" dateFormat="mm/dd/yy" timeFormat="hh:mm tt z" timeControlType="select" [horizontalTimeControls]="true"></p-calendar>   
		            			</div>
		           				 <div class="ui-grid-col-6">
		            <h3>Retour</h3>
		            <p-calendar [(ngModel)]="date11" dateFormat="mm/dd/yy" timeFormat="hh:mm tt z" timeControlType="select" [horizontalTimeControls]="true"></p-calendar>   
		            			</div>
  							</div>
		        	</div>
			</md-card>


			<md-card>
				<md-card-title>Détour</md-card-title>
				
				<md-input placeholder="distance additionelle" align="end">

  					<span md-suffix> km</span>
				</md-input>
			</md-card>


			<md-card>
				<md-card-title>Nombre de places proposées :</md-card-title>
					<md-input placeholder="" align="end">
					</md-input>
			</md-card>
			<md-card>

			<div class="flex-end"> 
					<button  md-raised-button color="primary" (click)="gotoOffers()">Publier</button>
			</div>
			</md-card>

       		</div>



        <div class="ui-grid-col-3"></div>
    </div>
</div>
