<div class="ui-grid">
    <div class="ui-grid-row">
        	<div class="ui-grid-col-7" style="margin-left: 15">

        	<md-card style="margin-top: 15px">
				<md-card-title>Départ et arrivée</md-card-title>
   				<from-to (arrival)="_arrival=$event" (departure)="_departure=$event"></from-to>

			</md-card>
			<md-card>
				<md-card-title>Fréquence</md-card-title >
				<md-radio-group>
	 				<md-radio-button checked="true" (change)="changeFrequency(0)">Une seule fois</md-radio-button>
	  				<md-radio-button (change)="changeFrequency(1)">Trajet régulier</md-radio-button>
				</md-radio-group>

				<div *ngIf="_isFrequency" style="margin-top: 12">	
					<md-checkbox *ngFor="#day of _days, #i=index" style="margin-right: 6"
	            		(change)="modifyFrequency(i+1)">
			 			{{day}}
			    	</md-checkbox>
		   		</div>

			</md-card>
			<md-card>
				<md-card-title>Date et heure</md-card-title>
					<md-checkbox (change)="isReturn=!isReturn">Aller retour (facultatif)</md-checkbox>
					<div class="ui-grid">
						   <div class="ui-grid-row">
						   		<div class="ui-grid-col-6">
		           					<h3>Aller</h3>
		           					<div class="container">
										<i class="material-icons">event</i>
		            					<p-calendar placeholder="Date et heure" [(ngModel)]="_date" dateFormat="mm/dd/yy" timeFormat="hh:mm tt" timeControlType="slider" [horizontalTimeControls]="true"></p-calendar> 
		            				</div>
		            			</div>
		           				<div class="ui-grid-col-6" *ngIf="isReturn">
		            				<h3>Retour</h3>
		            				<div class="container">
										<i class="material-icons">event</i>
			           					<p-calendar placeholder="Date et heure de retour" [(ngModel)]="_dateReturn" dateFormat="mm/dd/yy" timeFormat="hh:mm tt" timeControlType="slider" [horizontalTimeControls]="true"></p-calendar>
			           				</div>
		            			</div>
  							</div>
		        	</div>
			</md-card>
			<md-card>
				<md-card-title>Détour</md-card-title>
				
				<md-input type="number" placeholder="distance additionelle" [(ngModel)]="_detour">
  					<span md-suffix>km</span>
				</md-input>
			</md-card>


			<md-card>
				<md-card-title>Places disponibles</md-card-title>
					<md-input type="number" placeholder="nombre de places" [(ngModel)]="_seats">
					</md-input>

			</md-card>
			<md-card>

			<div class="container" style="justify-content: space-between; margin-top: 15">
						<span *ngIf="_publishSuccess" class="primary-bold">Trajet créé avec succès ! Retrouvez-le dans la rubrique "Vos trajets"</span>
							<span></span>
							<button  md-raised-button color="primary" (click)="sendRideOffer()">Publier</button>
						</div>
			</md-card>

       		</div>
       	<div class="ui-grid-col-5" style="margin:15px">
       		<map-directions [from]="_departure" [to]="_arrival"></map-directions>
       	</div>
    </div>
</div>
