<div class="ui-grid">
    <div class="ui-grid-row">
        <div class="ui-grid-col-1"></div>
        	<div class="ui-grid-col-6">

        	<md-card>
				<md-card-title>Départ et arrivée</md-card-title>
   				<from-to (asyncDeparture)="_mapDeparture=$event" (asyncArrival)="_mapArrival=$event" [(arrival)]="_arrival" [(departure)]="_departure"></from-to>
			</md-card>
			<md-card>
				<md-card-title>Fréquence</md-card-title >
				<md-radio-group [(value)]="test">
	 				<md-radio-button value="option_1">Une seule fois</md-radio-button>
	  				<md-radio-button value="option_2">Trajet régulier</md-radio-button>
				</md-radio-group>
			</md-card>
			<md-card>
				<md-card-title>Date et heure</md-card-title>
					<md-checkbox (change)="isReturn=!isReturn">Aller retour (facultatif)</md-checkbox>
					<div class="ui-grid">
						   <div class="ui-grid-row">
						   		<div class="ui-grid-col-6">
		           					<h3>Aller</h3>
		           					<div class="container">
										<i class="material-icons">event</i>
		            					<p-calendar placeholder="Date et heure" [(ngModel)]="_date" dateFormat="mm/dd/yy" timeFormat="hh:mm tt" timeControlType="slider" [horizontalTimeControls]="true"></p-calendar> 
		            				</div>
		            			</div>
		           				<div class="ui-grid-col-6" *ngIf="isReturn">
		            				<h3>Retour</h3>
		            				<div class="container">
										<i class="material-icons">event</i>
			           					<p-calendar placeholder="Date et heure de retour" [(ngModel)]="_dateReturn" dateFormat="mm/dd/yy" timeFormat="hh:mm tt" timeControlType="slider" [horizontalTimeControls]="true"></p-calendar>
			           				</div>
		            			</div>
  							</div>
		        	</div>
			</md-card>
			<md-card>
				<md-card-title>Détour</md-card-title>
				
				<md-input placeholder="distance additionelle" [(ngModel)]="_detour">
  					<span md-suffix>km</span>
				</md-input>
			</md-card>


			<md-card>
				<md-card-title>Places disponibles</md-card-title>
					<md-input placeholder="nombre de places" [(ngModel)]="_seats">
					</md-input>

			</md-card>
			<md-card>

			<div class="flex-end"> 
					<button  md-raised-button color="primary" (click)="sendRideOffer()">Publier</button>
			</div>
			</md-card>

       		</div>
       	<div class="ui-grid-col-4" style="margin:5px">
       		<map-directions [from]="_mapDeparture" [to]="_mapArrival"></map-directions>
       	</div>
        <div class="ui-grid-col-1"></div>
    </div>
</div>
