<div class="ui-grid">
	<div class="ui-grid-row">
		<div class="ui-grid-col-3"></div>
		<div class="ui-grid-col-6">
			<md-card class="drive">
			<md-card-title class="flex-space-between"><span>Vous conduisez ?</span>
			<button md-raised-button (click)="gotoMakeOffer()" color="accent">Proposer un trajet</button>
		</md-card-title>
	</md-card>
	<md-card>
	<md-card-title>Trouvez votre covoiturage</md-card-title>

	<img md-card-image class="cover-img" src="img/route.jpg">

	<md-card-subtitle>Trajet</md-card-subtitle>
	<from-to [(arrival)]="_arrival" [(departure)]="_departure"></from-to>
	<md-card-subtitle style="margin-top: 25px;">Date et horaire</md-card-subtitle>
	<md-checkbox (change)="isReturn=!isReturn">Aller retour (facultatif)</md-checkbox>
	<div class="ui-grid">
		<div class="ui-grid-row">
			<div class="ui-grid-col-6">
				<h3>Aller</h3>
				<div class="container">
					<i class="material-icons">event</i>
					<p-calendar placeholder="Date et heure" [(ngModel)]="_date" dateFormat="mm/dd/yy" timeFormat="hh:mm tt" timeControlType="slider" [horizontalTimeControls]="true"></p-calendar>
				</div>
			</div>
			<div class="ui-grid-col-6" *ngIf="isReturn">
				<h3>Retour</h3>
				<div class="container">
					<i class="material-icons">event</i>
					<p-calendar placeholder="Date et heure de retour" [(ngModel)]="_dateReturn" dateFormat="mm/dd/yy" timeFormat="hh:mm tt" timeControlType="slider" [horizontalTimeControls]="true"></p-calendar>   
				</div>
			</div>
		</div>
	</div>
	<div class="flex-end" style="margin-top: 5px"> 
		<button  md-raised-button color="primary" (click)="gotoOffers()">rechercher</button>
	</div>
</md-card>
</div>
<div class="ui-grid-col-3"></div>
</div>
</div>




