<p>my search component</p>


<p-autoComplete [(ngModel)]="selectedPlace" [suggestions]="filteredPlaces" (completeMethod)="filterPlaces($event)" [minLength]="1" field="name"></p-autoComplete>

<ul>
	<li *ngFor="#place of places">{{place.name}}</li>
</ul>

<div class="ui-grid">
    <div class="ui-grid-row">
        <div class="ui-grid-col-4">Col1</div>
        <div class="ui-grid-col-4">
        	<p-autoComplete [(ngModel)]="selectedPlace" [suggestions]="filteredPlaces" (completeMethod)="filterPlaces($event)" [minLength]="1" field="name"></p-autoComplete>
        </div>
        <div class="ui-grid-col-4">Col3</div>
    </div>
</div>




